*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 180mm;
    width: 160mm;
    margin: auto;
}
.container{
    background-color:rgb(247, 241, 233);
    display: grid;
    grid-template-columns: 30% 70%;
}
.left{
    background-color: darkslategray;
    color: rgb(247, 241, 233);
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 7% 7% 7% 7%;
    gap: 2%;
}
.right{
    background-color: rgb(247, 241, 233);
    color: darkslategray;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    padding: 7% 7% 7% 7%;
}

.exp{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.job{
display: flex;
font-size: small;
gap: 5%;
padding: 2%;

}

.job-period{
    flex-grow: 20%;
}

.edu-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10%;
}
