*{
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 180mm;
    width: 160mm;
    margin: auto;
}
.container{
    background-color:rgb(247, 241, 233);
    display: grid;
    grid-template-columns: 30% 70%;
}
.left{
    background-color: darkslategray;
    color: rgb(247, 241, 233);
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 7% 10% 7% 7%;
    gap: 2%;
}
.right{
    background-color: rgb(247, 241, 233);
    color: darkslategray;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr 1fr 3fr 1fr;
    padding: 7% 7% 7% 7%;
}

img{
    border-radius: 50%;
    width: 100%;
}
.exp{
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.job{
    display: flex;
    font-size: small;
    gap: 5%;
    padding: 2%;

}

.job-period{
    flex-grow: 20%;
}

.edu-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10%;
}

.lang-info{
    display: flex;
    flex-direction: column;
}

.contact{
    display: flex;
    flex-direction: column;
}
.contact-info{
    padding: 5% 0 5% 0;
}

hr{
    width: 20%;
}

.skills-info{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 5%
}
.skill{
    padding-top: 10%;
    display: flex;
    justify-content: space-between;
    gap: 20%;
}
.points{
    display: flex;
    gap: 8px;
}
.point{
    border-radius: 50%;
    width: 12px;
    height: 12px;
    content: "";
}

.gray{
    background-color: darkslategray;
}

.light{
    background-color: rgb(137, 185, 185);
}

.white{
    background-color: rgb(247, 241, 233);
}